<!-- this creates spacing underneath the navigation so there's no overlap -->
<div class="spacing"></div>

<!-- banner -->
<!-- this is the banner when on mobile view -->
<div class="mobile-banner-container">
  <section class="mobile-banner-section">
    <div class="banner-heading-container"></div>
    <h1 class="mobile-banner-heading animated-title fadeIn">LINKS</h1>
  </section>
</div>
<!-- this is the banner when on desktop and tablet view -->
<div class="new-post-banner">
  <section id='new-post-banner-section'>
    <div class="banner-heading-container"></div>
    <h1 class="banner-heading animated-title fadeIn">LINKS</h1>
  </section>
</div>
<div class="page-container">
  <div class="page-canvas">
    <div class="page-content">
      <h1>Links</h1>
      <h2><p>Mental Health Websites and Resources</p></h2>
      <ol>
      <li>Kids Help Phone - <a href="http://www.kidshelpphone.ca/teens">www.kidshelpphone.ca/teens</a></li>
      <li>Mind Your Mind - <a href="http://www.mindyourmind.ca">www.mindyourmind.ca</a></li>
      <li>Teen Mental Health - <a href="http://www.teenmentalhealth.org">www.teenmentalhealth.org</a></li>
      <li>Mind Check - <a href="http://www.mindcheck.ca">www.mindcheck.ca</a></li>
      <li>Good to talk - <a href="http://www.good2talk.ca">www.good2talk.ca</a></li>
      <li>Here to Help - <a href="http://www.heretohelp.bc.ca">www.heretohelp.bc.ca</a></li>
      <li>Time to Change - <a href="http://www.time-to-change.org.uk">www.time-to-change.org.uk</a></li>
      <li>Yide - <a href="http://www.ydie.ca">www.ydie.ca</a></li>
      <li>Jack.org - <a href="http://www.jack.org">www.jack.org</a></li>
      <li>Centre for Addiction and Mental Health - <a href="http://www.camh.ca">www.camh.ca</a></li>
      <li>Mood Disorders Association of Ontario - <a href="https://www.mooddisorders.ca/">https://www.mooddisorders.ca/</a></li>
      <li>Mental Health Commission of Canada – Child &amp; Youth - <a href="http://www.mentalhealthcommission.ca/English/issues/child-and-youth">http://www.mentalhealthcommission.ca/English/issues/child-and-youth</a></li>
      <li>Children’s Mental Health Ontario - <a href="http://www.kidsmentalhealth.ca/">http://www.kidsmentalhealth.ca/</a></li>
      <li>WellAhead - <a href="http://www.wellahead.ca/">http://www.wellahead.ca/</a> – Amazing project starting out west that’s focused on collaboration between all stakeholders for well-being in schools.</li>
    </div>
  </div>
</div>
