<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8'/>
  </head>

  <body>
    <h1>Hi <%= @user.name! %></h1>
    <p>
      Welcome email thanking the user for signing up.  Should contain some content
      that outlines what the user can do with the application.
    </p>

  </body>
</html>
