

<div class="spacing"></div>
<div class="new-post-banner">
  <section id='new-post-banner-section'>
    <div class="banner-heading-container"></div>
    <h1 class="banner-heading animated-title fadeIn"><%= @user.name %></h1>
  </section>
</div>

<div class="page-container">
    <div class="page-canvas">
        <%= render 'user_form' %>
    </div>
</div>
