<div class="new-post-banner">
  <section id='new-post-banner-section'>
    <img src= <%=image_path('post-page-icon.png')  %> id='post-page-icon'/>
    <h1>EDIT A POST</h1>
  </section>
</div>
<%= render 'form' %>
