<!-- this creates spacing underneath the navigation so there's no overlap -->
<div class="spacing"></div>

<!-- banner -->
<!-- this is the banner when on mobile view -->
<div class="mobile-banner-container">
  <section class="mobile-banner-section">
    <div class="banner-heading-container"></div>
    <h1 class="mobile-banner-heading animated-title fadeIn">CREATE</h1>
  </section>
</div>
<!-- this is the banner when on desktop and tablet view -->
<div class="new-post-banner">
  <section id='new-post-banner-section'>
    <div class="banner-heading-container"></div>
    <h1 class="banner-heading animated-title fadeIn">CREATE</h1>
  </section>
</div>

<%= render 'form' %>
