<div class="new-post-banner">
  <section id='new-post-banner-section'>
    <!-- <img src="../assets/post-page-icon.png" id='post-page-icon'/>
    <h1>CREATE A NEW POST</h1> -->
    <div class="banner-heading-container"></div>
    <h1 class="banner-heading animated-title fadeIn">CREATE</h1>
  </section>
</div>
<%= render 'form' %>
