// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// comment
.page-canvas{
  border: 1px solid #e4e4e4;
  box-shadow: 1px 1px 1px #cdcdcd;
}
.comment-container,
.new-comment-container{

  margin: 0 auto;
  padding: 0px 14px 15px;
  width: auto;
  max-width: 860px;
  h3{
    margin: 20px 0;
    font-weight:lighter;
  }
}
.new-comment-wrapper{
  width: 90%;
  margin-bottom: 10px;
  display: block;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  box-shadow: 1px 1px 1px #cdcdcd;
  padding: 5%;
    .field{
      text-align: left;
    }
}

.new-comment-send-button{
  width: 99%;
  padding-left: 0;
  padding-right: 0;
  color: white;
  height: 31px;
  font-size: 15px;
  background: #00B1CB;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: lighter;
}

#comment_comment{
  font-size: 18px;
  width: 98%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e1e8ed !important;
  background-color: #f5f8fa !important;

}
.comment-wrapper{
  overflow: hidden;
  height: auto;
  padding: 20px 0 0 7px;
  position: relative;
  border-radius: 5px;
  .field{
    text-align: left;
    margin: 0;
  }
  .actions{

  }
  #comment_comment{
    width: 850px;
    border-radius: 5px;
  }
}

// .author-container{
//   font-size: 13px;
// }
.comment-text-container{
  float: left;
  font-size: 18px;
  width: 70%;
  font-weight: lighter;
  padding-left: 30px;
}

.time-container{
  font-size: 13px;
  margin: 5px 0;
  float: left;
  color: #7f7f7f;
  font-weight:lighter;

}
.comment-comment-containter{
  width: 100%;
  color: #7f7f7f;
}

.comment-comment-containter p{
  margin: 0;
  margin-bottom: 10px;
}

.profile-container{
  float: left;
  display: inline-block;
  width: 10%;
  text-align: center;
  margin: 0 10px 10px 0;
  border-right: 1px solid #d4d4d4;
  padding-right: 30px;

}

.actions-container{
  margin: 5px 0;
  font-size: 15px;
}

.img-container{
  margin-left: auto;
  margin-right: auto;
  align: middle;
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
}

.post-cont a {
    text-transform: lowercase;
    font-weight: lighter;
    font-size: 15px;
}
