// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// comment

.comment-container{
  margin: 0;
  padding: 15px 14px 15px;
  width: auto;
  max-width: 860px;
}

.author-container{
  font-size: 10px;
  text-transform: capitalize;
}

.time-container{
  font-size: 10px;
}
