// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// comment
.page-canvas{
  border: 1px solid #e4e4e4;
  box-shadow: 1px 1px 1px #cdcdcd;
}
.comment-container,
.new-comment-container{

  margin: 0;
  padding: 0px 14px 15px;
  width: auto;
  max-width: 860px;
  h3{
    margin: 20px 0;
  }
}

.comment-wrapper{
  overflow: hidden;
  height: auto;
  padding: 20px 0 0 7px;
  position: relative;
  border-radius: 5px;
  .field{
    text-align: left;
    margin: 0;
  }
  .actions{
    text-align: left;
  }
  #comment_comment{
    width: 850px;
    border-radius: 5px;
  }
}

.author-container{
  font-size: 13px;

}
.comment-text-container{
  float: left;
  font-size: 18px;
  width: 750px;
}

.time-container{
  font-size: 13px;
  margin: 5px 0;
  float: left;

}
.comment-comment-containter{
  width: 750px;
}
.profile-container{
  float: left;
  display: inline-block;
  width: 80px;
  text-align: center;
  margin: 0 10px 10px 0;

}

.actions-container{
  margin: 5px 0;
  font-size: 15px;
}

.img-container{
  margin-left: auto;
  margin-right: auto;
  align: middle;
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
}
