/*******************/
/*   NAVIGATION    */
/*******************/
nav {
  &:before,
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

nav{
  overflow: auto;
  background-color: white;
  height: 60px;
  padding: 0 5%;
  position: fixed;
  width: 90%;
  z-index:1111;
}

nav ul {
    float: right;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-item {
  float:left;

  a{
    display: block;
    text-align: center;
    padding: 21px 16px;
    text-decoration: none;
  }

  a:hover{
    background-color: #A3D5FF;
    color:#FFFAFF;
  }
}

// hamburger menu
.navicon {
  display: none;
  padding: .35em;
    &:hover {
    cursor: pointer;
  }
}

.navicon:hover{
  color:#1E7F8E;
}

.show {
  height: auto;
  display: block;
  float: right;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width:100%;
}

/* Nav-Left Styles */

.nav-left{
  position: relative;
  float:left;
  width:15%;
  padding-left:5%;
}

.nav-left .logo{
 width: 100%;
}

.logo{
  border: 2px solid #00B1CB;
  padding: 5px;
  text-align:center;
  font-size: 1em;
  float: left;
}


/* nav-right Styles */

.nav-right {
  float:left;
  position: relative;
  text-align:right;
  width:75%;
  padding-right: 5%;
}

.nav-right p{
  position:relative;
  display:inline-block;
  padding-right: 30px;
  color:#7f7f7f;
}

.nav-right span.button{
  background-color:#00B1CB;
  overflow:auto;
  padding:10px;
  color:white;
}


/*******************/
/*   Footer        */
/*******************/

footer{
  // background-color: #374A67;
  width:100%;
  height:auto;
  background: linear-gradient(141deg,#474350 0%, #374A67 75%);
  overflow:auto;
}

.footer-info{
  float:left;
  width: 23.3333%;
}

.expressions,
.help,
.information{
  padding-left: 5%;
  padding-right:5%;
}

footer h3,
footer p,
footer a{
  display:block;
  text-align: center;
  text-decoration: none;
  line-height:25px;
  font-weight: lighter;
}

footer h3{
  margin-top:40px;
  margin-bottom:20px;
  color:white;
}

footer a{
  text-transform:lowercase;
  color:#FFFAFF;
}

footer a:hover{
  color:#00B1CB;
}

footer p,
footer a{
  color:#c2c2c2;
  margin-bottom:10px;
}

footer p{
  text-align:center;
  padding:0;
  margin:0;
  padding-bottom:20px;
}

/********************/
/*  Media Queries   */
/********************/

// small desktop view view
@media (max-width: 980px) {
  .expressions{
    float:none;
    display:block;
    width: 90%;
    border-bottom:1px solid #d4d4d4;
  }

  .help,
  .information{
    width:39%;
  }

  .information{
    border-left:1px solid #d4d4d4;
  }

  .help,
  .information{
    padding-bottom:20px;
  }

  .information h3,
  .help h3{
    margin-top:20px;
  }

  footer h3{
    margin-bottom:5px;
    font-size:15px;
  }

  footer a,
  footer p{
    margin:0;
    font-size:12px;
    line-height:17px;
  }
}

// mobile view
@media (max-width:620px) {
//navigation

  nav{
    height: auto;
    background-color:white;
  }

  .navicon {
    display: block;
    float: right;
    color:#00B1CB;
    font-size: 2em;
    padding: 0;
    width: 50%;
    text-align: right;
  }

  //do not show <ul>
  nav ul {
    display: none;
  }

  .nav-item{
  width: 100%;
  // border-bottom: 1px solid #d4d4d4;
    &:last-child {
      border-bottom: none;
    }
  }


// footer
  .footer-info{
    width:99%;
    display:block;
    padding:0;
  }

  .expressions,
  .help,
  .information{
    border-bottom:1px solid #d4d4d4;
  }

  .help,
  .information{
    padding-bottom:20px;
  }

  .information{
    border-left:none;
  }
}
