/*******************/
/*   NAVIGATION    */
/*******************/

.nav-stick{
  overflow: auto;
  background-color: white;
  height: 60px;
  color: white;
  padding: 0 5%;
  position: fixed;
  width: 90%;
  z-index:1111;
}

.nav-list {
    float: right;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.nav-item {
  float:left;

  a{
    display: block;
    text-align: center;
    padding: 21px 16px;
    text-decoration: none;
  }

  a:hover{
    background-color: #A3D5FF;
    color:#FFFAFF;
  }
}



/* Nav-Left Styles */

.nav-left{
  position: relative;
  float:left;
  width:15%;
  padding-left:5%;
}

.nav-left .logo{
 width: 100%;
}

.logo{
  border: 2px solid #00B1CB;
  padding: 5px;
  text-align:center;
  font-size: 1em;
  float: left;
}


/* nav-right Styles */

.nav-right {
  float:left;
  position: relative;
  text-align:right;
  width:75%;
  padding-right: 5%;
}

.nav-right p{
  position:relative;
  display:inline-block;
  padding-right: 30px;
  color:#7f7f7f;
}

.nav-right span.button{
  background-color:#00B1CB;
  overflow:auto;
  padding:10px;
  color:white;
}

/*******************/
/*   Footer        */
/*******************/

footer{
  background-color: #474350;
  width:100%;
  height:300px;
}

.footer-info{
  float:left;
  width: 23.3333%;
}

.expressions,
.help,
.information{
  padding-left: 5%;
  padding-right:5%;
}

footer h3,
footer p,
footer a{
  display:block;
  text-align: center;
  text-decoration: none;
  line-height:25px;
  font-weight: lighter;
}

footer h3{
  margin-top:40px;
  margin-bottom:0;
  color:white;
}

footer a{
  text-transform:lowercase;
  color:#FFFAFF;
}

footer a:hover{
  color:#00B1CB;
}

footer p,
footer a{
  color:#c2c2c2;
}

footer p{
  text-align:center;
  padding:0;
  margin:0;
}
