// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-header p{
  color: rgba(255, 255, 255, 0.8);
  font-weight: lighter;
  font-size: 15px;
  padding: 0 20px;
}

/********************/
/* forgot & signup  */
/********************/
.extra-login-stuff{
  width:100%;
  text-align:center;
  margin-top:10px;
}

.extra-login-stuff a{
  color: white;
  font-weight: lighter;
  line-height:30px;
}

.extra-login-stuff a:hover{
  color: #1E7F8E;
}
