// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/*******************/
/*   Sections      */
/*******************/
section{
  width:100%;
  overflow:auto;
}

.sect-title{
  width:70%;
  float:left;
  // background-color:pink;
  margin-top:100px;
  margin-bottom:0;
  padding-left: 5%;
}

.sect-title h1{
  font-weight:normal;
}

.new-post-link{
  margin-top: 100px;
  width: 20%;
  float: left;
  /* background-color: red; */
  padding-top: 25px;
  text-align: right;
  margin-right: 5%;
}

.new-post-link a{
  padding: 10px;
  background-color: #00B1CB;
  color:white;
  border-radius:15px;
}

.new-post-link a:active{
  box-shadow: 0 0 0px 2px #bdf6f2;
}

/*******************/
/*   Posts-index   */
/*******************/

// CONTAINER

.posts-wrapper{
  width: 960px;
  margin: 0 auto;
}

.post-cont{
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
  display: block;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  box-shadow: 1px 1px 1px #cdcdcd;

  a{
    text-transform: none;
  }
  // overflow: auto;
  // width: 100%;
  // display: block;
  // padding: 30px;
  // border: 1px solid #e4e4e4;
  // border-radius: 5px;
  // box-shadow: 1px 1px 1px #cdcdcd;
  // background-color:white;
  .img-cont{
    display: inline-block;
    float: left;
    width: 75px;
    height: 75px;
  }

  .text-cont{
    float: left;
    width: auto;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;


    p {
      margin: 0;
    }

    .author-cont{
      font-size: 13px;
      margin-bottom: 2.5px;
    }

    .title-cont{
      margin-bottom: 2.5px;
      font-size: 18px;
    }
    .comment-cont{
      font-size: 13px;
    }
  }
}

.action-container{
  font-size: 13px;
}

/* create post */

.new-post-banner{
  width: 100%;
  height: 150px;
  position: relative;
  text-align: center;


  #new-post-banner-section{
    height: 100%;
    background-image: url('desktop-banner-img.png');
    background-position: center;
  }
  #post-page-icon{
    width: 50px;
    height: 50px;
    margin-top: 40px;
  }
  h1{
    color: white;
    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;

  }
}



.page-container{
  margin: 0 auto;
  padding: 15px 14px 15px;
  width: auto;
  max-width: 860px;
}

.page-canvas{
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px 0;
  border-radius: 5px;
}

.create-container{
  margin: 0 auto 10px;
  display: block;
  max-width: 800px;
}

#post_title
{
  width: 800px;
  height: 30px;
  font-size: 20px;
  color: #292f33;
}

#post_body
{
  width: 800px;
  height: 90px;
  font-size: 20px;
  color: #292f33;
  border: 1px solid gray;
}

#post_link
{
  width: 800px;
  height: 30px;
  font-size: 20px;
  color: #292f33;
}

.create-field{
  font-size: 20px;
  margin-bottom: 30px;
  textarea{
    border-radius: 5px;
    border: 1px solid #e1e8ed !important;
      background-color: #f5f8fa !important;
  }
  label{
    margin-bottom: 5px;
    color: #292f33;
  }

}

#error_explanation{
  font-size: 15px;
  color: red;
}


/* show */

.show-container{
  margin: 0 auto 10px;
  display: block;
  max-width: 800px;
}

.post-title-container{
  font-size: 20px;
}

.back-container{
  margin: 10px 0;
}
