* {
  box-sizing: border-box;
}
html {
  font-size: 1em;
  font-family: Helvetica Neue, sans-serif;
}
body {
  margin: 0;
}

img {
  max-width: 100%;
}

footer{
  background-color: #7F7F7F;
  width:100%;
  height:200px;
}

/*******************/
/*   Banner        */
/*******************/
.profile-top-screen{
  background-image: url('1.jpg');
  background-size: cover;
  background-attachment: fixed;
  width:100%;
  height:500px;
}

.banner{
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 60px;
}

.banner.profile-banner-text{
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}

.profile-banner-text p{
  position: absolute;
  color: #00B1CB;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Marck Script', cursive;
  font-size: 300%;
  text-align: center;
  padding-top:50%;
}

/*******************/
/*   content      */
/*******************/



.description {
  padding-left: 20px;
  padding-right: 20px;
  padding: none;
  float: left;
}

.description h2 {
  float: left;
  width: 100%;
  font-weight: lighter;
  font-size: 40px;
  margin:0;
  margin-bottom:15px;
}

.description p {
  font-weight: lighter;
}

.profile_pic img {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.edit-button {
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.edit-button a{
  text-transform: lowercase;
  font-weight:lighter;
}

.container {
  float: left;
  width: 48%;
  overflow: hidden;
}

.expression_container {
  float: right;
  width: 48%;
  overflow: auto;
  padding-right: 20px;
}

.expression_title {
  padding-top: 25px;
}

.post_title {
  text-align: center;
  padding-top: 10px;
}

.post_time {
  text-align: center;
  padding-bottom: 20px;
  font-size: 11px;
}

.blog-entry p {
  margin: 0;
  text-align: center;
}

.blog-entry {
  float:left;
  width:30%;
  margin-bottom:1em;

}

.blog-entry:nth-of-type(3n+1) {
  padding-right:1%;
}

.blog-entry:nth-of-type(3n+2) {
  padding:0 .5%;
}
.blog-entry:nth-of-type(3n+3) {
  padding-left:1%;
}

.blog-entry img {
  width:100%;
  height:auto;
  margin:0;
}

.blog-entry img:hover {
  color: #7E97C8;
}

.blog-entry:nth-of-type(3n+4) {
  clear:left;
}
