

/*******************/
/*   content      */
/*******************/

.profile-outer-container{
  width:100%;
  overflow:auto;
}

.description {
  padding-right: 20px;
  float: left;
}

.description h2 {
  float: left;
  width: 100%;
  font-weight: lighter;
  font-size: 40px;
  margin:0;
  margin-bottom:15px;
}

.description p {
  font-weight: lighter;
}

.profile_pic img {
  border: 1px solid #d4d4d4;
  padding: 10px;
}

.edit-button {
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.edit-button a{
  text-transform: lowercase;
  font-weight:lighter;
}

.container {
  float: left;
  width: 30%;
  overflow: hidden;
  border-right: 1px solid #d4d4d4;
  padding: 5%;
}


.expression_container {
  width: 48%;
  overflow: auto;
  height: 420px;
  float: left;
  padding: 30px 15px 15px 5%;
}

.expression_title {
  font-size: 20px;
  font-weight: lighter;
  margin:0;
  padding: 5% 0 0 5%;
  float:left;
}

.post_title {
  text-align: center;
  padding-top: 10px;
}

.post_title a{
  text-transform: capitalize;
  font-size: 1em;
}

.post_time {
  text-align: center;
  padding-bottom: 20px;
  font-size: 11px;
  color: #7f7f7f;
}

// User's Posts

.expression-inner-container {
  width: 95%;
  height:400px;
  overflow: auto;
  padding: 10px;
  background-color: white;
}

.blog-entry {
  margin: 10px 0;
  display: block;
  padding: 2%;
  overflow:auto;
  height: auto;
  border-bottom:1px solid #d4d4d4;

  p {
    margin: 0;
    text-align: center;
  }

  img{
    float:left;
    padding-right: 10px;
    border-right: 1px solid #d4d4d4;
    width:15%
  }
}

.post_details{
  float:left;

  p{
    text-align:left;
  }
}

.post_details_with_image{
  float:left;
  text-align:left;
  padding-left:10px;
  width:80%;
  p{
    text-align:left;
  }
}

.post_details_with_image .action-container,
.post_details .action-container{
  margin:0;
  padding-top:10px;
}

// Profile Update notice
.notice-alert{
  width:93%;
  padding:10px;
  background-color: rgba(124, 218, 95, 0.5);
  overflow: auto;
  margin-bottom: 30px;
}

#notice{
  float:left;
  font-weight:lighter;
  color:#7f7f7f;
  width:90%;
}

.close{
  float:left;
  width:10%;
  color:#70bb58;
  font-weight:lighter;
  text-align: right;
}

.close:hover{
  color: #41862b;
  cursor:pointer;
}

// Tablet View & Mobile
@media (max-width:880px) {
  .container {
    width: 90%;
    text-align: center;
    border-bottom:1px solid #d4d4d4;
    padding: 5%;
    border-right: none;
  }
  .description {
  padding:0;
  }

  // user's posts
  .expression_container {
    width: 89%;
    overflow: auto;
    float: left;
  }

  .expression_title {
    float: left;
    text-align: center;
    width: 100%;
    padding-left: 0;
  }

  .blog-entry img {
    width: 12%;
  }

  .post_details_with_image p,
  .post_details p {
    font-size: 14px;
  }

  .post_details_with_image .action-container, .post_details .action-container {
    margin: 0;
    padding-top: 10px;
    font-size: 11px;
}
}
