* {
  box-sizing: content-box;
}

body {
  background-color: #fff;
  width:100%;
  margin:0;
  background-color:#f3f3f3;
}

input{
  padding:0;
}

h1, h2, h3, h4, p, label, input{
  font-family: helvetica, arial, cursive;
  color:#7F7F7F;
}


a {
  font-family: helvetica, arial, cursive;
  text-decoration: none;
  color: #00B1CB;
  text-transform:uppercase;
}

div {
  &.field, &.actions {
    margin:20px auto;
  }
}

.field{
  margin-bottom: 10px;
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

#notice {
  color: #CAFAAE;
  font-family: helvetica, arial, cursive;
}

label {
  display: block;
  font-family: helvetica, arial, cursive;
  color: #7F7F7F;
  text-transform:capitalize;
}

.clearfix{
  clear:both;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
