// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-screen{
  background-image: url('friends.jpeg');
  background-size: cover;
  background-attachment: fixed;
  width:100%;
  height:1000px;
}

/*******************/
/*   Banner        */
/*******************/


.banner{
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 60px;
}


.banner.banner-text{
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner-text p{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Marck Script', cursive;
  font-size: 300%;
  text-align: center;
  padding-top:75%;
}

/*******************/
/* login container */
/*******************/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.8);
}

/*******************/
/* form container  */
/*******************/

.getstarted {
    display: block;
    width: 400px;
    height: 18em;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow:hidden;
}
/********************/
/* form header part */
/********************/

// .getstarted>input {
//     display: block;
//     border: none;
//     outline: none;
//     padding: 0.5em;
//     font: 1.5em "Bebas Neue";
//     width: 100%;
//     margin: 1em 0;
//     color: #7F7F7F;
//     border: 1px solid #7F7F7F;
// }

.login-header{
  background-color:#00B1CB;
  width:100%;
  position:relative;
  overflow:auto;
  padding: 10px 0 10px 10px;
}

.login-header h1{
   margin:0;
   padding:0;
   float:left;
   width:87%;
   color:white;
}

.login-header .close{
  // border: 1px solid #7F7F7F;
  border:none;
  border-radius: none;
  outline: none;
  height: 1em;
  // font: 1.5em Arial;
  background-color: rgba(87, 87, 87, 0.5);
  position: relative;
  top: 0.25em;
  float: left;
  color: white;
  line-height: 0;
}

/********************/
/* login fields     */
/********************/
div .field{
  margin-bottom: 10px;
  width: 50%;
  display: block;
  margin: 10px auto;
  text-align: center;
}

/********************/
/* login button     */
/********************/

.actions{
  width: 50%;
  border: none;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius:20px;
}

.session-input.error {
    outline: 2px solid #bc2a39;
}






// .login-container{
//   max-width: 600px;
//   margin: auto;
//   top: 100px;
//   position: relative;
// }
//
// .login{
//   width:100%;
//   background-color:white;
//   float:left;
//   overflow: auto;
//   border-radius:20px;
//   text-align:center;
//   max-height:600px;
//   position:relative;
// }
//
// .close-button{
//   background-color: #00B1CB;
//   position:absolute;
//   width:100%;
// }
//
// .close-button h1{
//   width: 95%;
//   color: white;
//   height: 50px;
//   padding-top: 25px;
//   margin: 0px;
//   border-radius: 20px 20px 0px 0px;
//   float: left;
// }
//
//
//
// .close-button p{
//   color:white;
//   float: left;
//   width: 5%;
//   text-align: right;
// }
//
// form{
//   position:relative;
//   padding-top:100px;
// }
