.spacing{
  height:9%;
  width:100%;
}


/********************/
/*   CONTAINER      */
/********************/
// this contains the bkg img
.landing-container{
  width:100%;
  height:91%;
  background-image: url('body-bkg-img.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.landing-content-container{
  width:100%;
  height:100%;
  overflow:auto;
}

/********************/
/*   LEFT SCREEN    */
/********************/
.landing-left{
  width:60%;
  height:100%;
  float:left;
}

.slideshow-container {
  width: 100%;
  height: 90%;
  position:relative;
}

// TEXT CONTAINER
.mySlides.fade {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 10%;
}

.mySlides img{
  width:100px;
}

// TEXT TITLE
.mySlides h1{
  font-weight: lighter;
  color: white;
  text-transform: uppercase;
  width:50%;
  padding-top: 20px;
  margin: 0;
}

.mySlides .title-line{
  border-bottom: 2px solid #46c6d9;
  width: 100px;
  margin-bottom: 30px;
  margin-top: 30px;
}

// TEXT Paragraph
.mySlides p{
  margin:0;
  font-weight: lighter;
  color: white;
  padding-right:25%;
}


/* The dots/bullets/indicators */
.slider-dot {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 10%;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  border: 2px solid #46c6d9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #46c6d9;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/********************/
/* RIGHT SCREEN     */
/********************/
.landing-right{
  width: 40%;
  height: 100%;
  float: right;
  overflow: auto;
}

.modal-signin{
  height: 100%;
  width: 100%;
  overflow: auto;
}

form.getstarted {
  height: 91%;
  width: 90%;
  background-color: rgba(0, 177, 203, 0.5);
  text-align: center;
  position: relative;
  text-align: center;
  margin:5%;
}

.login-fields {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/********************/
/* form fields      */
/********************/

.login-header h1{
  margin: 0;
  font-weight: lighter;
  color: white;
}

// alert message on error
p#alert {
    color: rgba(255, 0, 0, 0.5);
    padding: 10px;
    font-weight: lighter;
    background-color: rgba(255,255,255,0.5);
}

input#email,
input#password {
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    width: 75%;
    color:white;
}

.login-fields input[type="text"], textarea,
.login-fields input[type="password"], textarea {
  background-color: transparent;
  font-size:15px;
}

.login-fields input[type=text]:focus,
.login-fields input[type=password]:focus {
    background-color: lightblue;
}

// changes the placeholder text styles
.login-fields ::-webkit-input-placeholder {
   color: white;
   font-weight:lighter;
   font-size:15px;
}


/********************/
/* login button     */
/********************/

input.actions {
    border: none;
    width: 75%;
    padding: 13px;
    border-radius: 20px;
    background-color: #1E7F8E;
    color: white;
    font-weight: lighter;
    font-size:15px
}

/********************/
/* forgot & signup  */
/********************/
.extra-login-stuff{
  width:100%;
  text-align:center;
  margin-top:10px;
}

.extra-login-stuff a{
  color: white;
  font-weight: lighter;
  line-height:30px;
  font-size:15px;
}

.extra-login-stuff a:hover{
  color: #1E7F8E;
}
