
.spacing{
  height:60px;
  width:100%;
}

/********************/
/*   CONTAINER      */
/********************/
// this contains the bkg img
.landing-container{
  width:100%;
  height:91%;
  background-image: image-url('body-bkg-img.jpg');
  background-size: cover;
  background-attachment: fixed;

 //  &:before {
 //   content: '';
 //   position: absolute;
 //   top: 0;
 //   right: 0;
 //   bottom: 0;
 //   left: 0;
 //   background-color: rgba(0, 0, 0, 0.4);
 //   opacity: .5;
 // }
}

.landing-content-container{

  width:100%;
  height:100%;
  overflow:hidden;
  background-color: rgba(0,0,0,0.3);
}

/********************/
/*   LEFT SCREEN    */
/********************/
.landing-left{
  width:60%;
  height:100%;
  float:left;
}

.slideshow-container {
  width: 100%;
  height: 90%;
  position:relative;
}

// TEXT CONTAINER
.mySlides.fade {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 10%;
}

.mySlides img{
  width:100px;
}

// TEXT TITLE
.mySlides h1{
  font-weight: lighter;
  color: white;
  text-transform: uppercase;
  width:50%;
  padding-top: 20px;
  margin: 0;
}

.mySlides .title-line{
  border-bottom: 2px solid #46c6d9;
  width: 100px;
  margin-bottom: 30px;
  margin-top: 30px;
}

// TEXT Paragraph
.mySlides p{
  margin:0;
  font-weight: lighter;
  color: white;
  padding-right:25%;
}


/* The dots/bullets/indicators */
.slider-dot {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 10%;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  border: 2px solid #46c6d9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #46c6d9;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/********************/
/* RIGHT SCREEN     */
/********************/
.landing-right{
  width: 40%;
  height: 100%;
  float: right;
  overflow: auto;
}

.modal-signin{
  height: 100%;
  width: 100%;
  overflow: auto;
}

form.getstarted {
  height: 91%;
  width: 90%;
  background-color: rgba(0, 177, 203, 0.5);
  text-align: center;
  position: relative;
  text-align: center;
  margin:5%;
}

.login-fields {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/********************/
/* form fields      */
/********************/

.login-header h1{
  margin: 0;
  font-weight: lighter;
  color: white;
}

// alert message on error
p#alert {
    color: rgba(255, 0, 0, 0.5);
    padding: 10px;
    line-height: 10px;
}

input#email,
input#password {
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    width: 75%;
    color:white;
}

.login-fields input[type="text"], textarea,
.login-fields input[type="password"], textarea {
  background-color: transparent;
  font-size:15px;
}

.login-fields input[type=text]:focus,
.login-fields input[type=password]:focus {
    background-color: lightblue;
}

// changes the placeholder text styles
.login-fields ::-webkit-input-placeholder {
   color: white;
   font-weight:lighter;
   font-size:15px;
}


/********************/
/* login button     */
/********************/

input.actions {
    border: none;
    width: 75%;
    padding: 13px;
    border-radius: 20px;
    background-color: #1E7F8E;
    color: white;
    font-weight: lighter;
    font-size:15px
}

/********************/
/* forgot & signup  */
/********************/
.extra-login-stuff{
  width:100%;
  text-align:center;
  margin-top:10px;
}

.extra-login-stuff a{
  color: white;
  font-weight: lighter;
  line-height:30px;
  font-size:15px;
}

.extra-login-stuff a:hover{
  color: #1E7F8E;
}


/********************/
/*  Media Queries   */
/********************/


// Small Desktop view
@media (max-width: 980px) {
  .landing-content-container{
    overflow:hidden;
  }

  // left side of screen
  .landing-left{
    width:100%;
    height:40%;
    background-image: image-url('small-desktop-banner-img.png');
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-size: 100%;
  }
  .slideshow-container {
    text-align:center;
  }

  .mySlides img {
    width: 70px;
  }
  .mySlides h1{
    width:100%;
    text-align:center;
    font-size:15px;
  }
  .mySlides .title-line {
    border-bottom: 2px solid #46c6d9;
    width: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 45%;
    margin-right: 45%;
}
  .mySlides p{
    width:100%;
    text-align:center;
    padding-right:0;
    font-size: 12px;
  }

  .dot {
    height: 6px;
    width: 6px;
  }

  .mySlides.fade {
    background-color: rgba(0, 0, 0, 0.3);
  }

  // right side of screen
  .landing-right{
    width: 100%;
    height: 60%;
  }
  form.getstarted {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 177, 203, 1);
    margin:0;
  }
  .login-header h1 {
    margin: 0;
    font-weight: lighter;
    color: white;
    font-size:15px;
  }
  input.actions {
    padding: 10px;
    font-size:12px;
    width:50%;
  }

  input#email, input#password {
    padding: 8px;
    width:50%;
    font-size:10px;
  }

  div.field, div.actions {
    margin: 10px auto;
  }


  .extra-login-stuff a {
    font-size: 12px;
  }

}

// tablet view
@media (max-width: 720px) {
  // left side of screen
  .landing-left{
    width:100%;
    height:40%;
    background-image: image-url('tablet-banner-img.png');
    background-size: cover;
  }

  .mySlides.fade {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

// mobile view
@media (max-width: 522px) {
  .landing-left {
    background-image: image-url('mobile-banner-img.jpg');
    background-size: cover;
    height: 50%;
  }
  .mySlides.fade {
    background-color: rgba(0, 0, 0, 0);
  }
  .mySlides .title-line {
    margin-left: 41%;
    margin-right: 41%;
  }

  form.getstarted {
    height: 90%;
  }
}
