// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**************/
/*  Privacy   */
/**************/

.page-content{
  padding: 0 30px;
  h1,
  h2,
  p,
  li{
    color: #424242;
    font-family: helvetica, arial,cursive;
  }
  a{
    text-transform: none;
    font-family: helvetica, arial,cursive;
  }
  li{
    list-style-position:inside;
  }
}

// mobile view
@media (max-width:620px) {
  .page-content{
    width: 100%;
    padding: 0;

    h1{
      font-size:20px;
    }

    h2{
      font-size:18px;
      font-weight:bolder;
    }

    p{
      font-size:15px;
      line-height:20px;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    ol, ul {
      padding: 0;
      width:100%;
      line-height:20px;
      font-weight:lighter;
    }

    li{
      font-size:13px;
      width: 100%;
    }

    a{
      font-weight:lighter;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

  }

}
