// alert message on error
.field ul{
  padding:0;
}

p#alert,
li.signup-alert {
    color: rgba(255, 0, 0, 0.5);
    padding: 10px;
    line-height: 10px;
    font-family:helvetica, arial, cursive;
}

li.signup-alert{
  list-style:none;
}

input#user_name,
input#user_email,
input#user_password,
input#user_password_confirmation {
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    width: 75%;
    color:white;
}

/* EDIT USER PAGE */
.user-edit-table{
  border-spacing: 40px 0;
  td{
    padding-top: 20px;
  }
}

.change_profile_pic{
  margin: 15px 0;
  text-transform:none;
  font-weight:lighter;
  text-align:left;
}

#main{
  margin: 0;
  h4{
    text-align: left;
    margin: 10px 0;
  }
}

#update-user {
  text-align: center;
}

.update-user-button {
  width: 300px;
  margin: 0;
}

.description-text-box {
  min-height: 150px;
  width: 400px;
  overflow: auto;
  border: 1px solid #e1e8ed !important;
  border-radius: 5px;
}


/********************/
/*  Media Queries   */
/********************/

// tablet view
@media (max-width: 980px) {
  input#user_name,
  input#user_email,
  input#user_password,
  input#user_password_confirmation {
    padding: 8px;
    width:50%;
    font-size:10px;
  }
}

// mobile view
@media (max-width: 620px) {

}
