// alert message on error
.field ul{
  padding:0;
}

p#alert,
li.signup-alert {
    color: rgba(255, 0, 0, 0.5);
    padding: 10px;
    font-weight: lighter;
    background-color: rgba(255,255,255,0.5);
}

li.signup-alert{
  list-style:none;
}

input#user_name,
input#user_email,
input#user_password,
input#user_password_confirmation {
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    width: 75%;
    color:white;
}


/********************/
/*  Media Queries   */
/********************/

input#user_name,
input#user_email,
input#user_password,
input#user_password_confirmation {
  padding: 8px;
  width:50%;
}
